*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid white; */
}

:root {
    --bg-main: #0B0E14;
    --text-main: #D4AF37;
    --text-muted: #F4F4F4;
    --accent: #facc15;
    --accent-glow: rgba(250, 204, 21, 0.4);
    --secondary: white;
    --secondary-glow: rgba(225, 29, 72, 0.4);
    --card-bg: #151B26;
    --border-color: #D4AF37;
    
    --font-heading: font-family: 'Cinzel', serif;
    --font-body: 'Noto Sans Gurmukhi', sans-serif;
}
body{
    background-color: #0B0E14;
}
/* heading section */

.nav-outer-div{
    display: flex;
    flex-direction: row;
    gap: 250px;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
    border-bottom:1px solid white;
    position: fixed;
    width: 100%;
    background-color: rgba(10,10,10,0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter : blur(10px)
}

.nav-inner-div-img img{
    height: 4.125rem;
    width: 4.125rem;
    border-radius: 50% ;
}

.nav-links{
    display:flex;
    flex-direction: row;
    gap: 25px;
    padding: 10px;
    background-color: transparent;
}

.nav-links a{
    padding: 10px;
    background-color: transparent;
    color: #F4F4F4;
    text-decoration: none;
}

.nav-actions{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav-actions a{
    color:#151B26;
    text-decoration: none;
    font-size:medium;
    font-weight:700;
    font-family: "Cinzel", serif;
    align-content: center;
}

#nav-subscribe-text{
    background-color: #D4AF37;
    padding: 8px 16px;
    height: fit-content;
    border-radius: 6px;
    margin: auto;
    font-weight: 800;
}

/* heading section  */
/* Hero section  */


.hero-section{
    width: 95%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat    ;
    background-image: url(assets/Gemini_Generated_Image_iaii9niaii9niaii.png);
}

.hero-section h1{
    text-align: center;
    font-size: 80px;
    color: #facc15;
}
.hero-section p{
    font-size: large;
    text-align: center;
    color: #F4F4F4;
}

.hero-section-parent{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 15px;
}


.hero-section-child1{
    padding: 4px 16px;
    background-color: #D4AF37;
    border-radius: 6px;
}

.btn-hero-section-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.img-flex-hero-section{
    background-color: transparent;
    height: fit-content;
    align-content: center;
    margin-top: px;    
}

.text-center-class{
    margin-top:10px;
}

.hero-section-text{
    color: #151B26;
    text-decoration:#D4AF37 underline;
    text-align: center;
    align-content: center;
}


.hero-section-img img{
    width: 2rem;
    border-radius: 50%;
    align-content:center ;

}

.hero-section-child2{
    padding: 4px 16px;
    background-color: transparent;
    border-radius: 6px;
    align-content: center;
    border: 1px solid #D4AF37;
}

.hero-section-btn-text{
    text-decoration: none;
    color: #D4AF37;
}
/* hero section ./ */

/* About kissa panjab section */

.about-parent{
    display:flex ;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    border-top:2px solid #D4AF37;
    border-bottom:2px solid #D4AF37;
    padding: 30px;
}

.about-child-img{
width: 10rem;
border-radius: 50%;
}

.about-child-text{
    width: 90vh;

}
.about-child-text h2{
    font-size: xx-large;
    color: #D4AF37;
    padding: 10px;
}
.about-child-text p{
    color: #F4F4F4;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

/* kissa panjab about us section ./ */

/* OUR CONTENT CATEGORIES  */

#content-category{
    color: #D4AF37;
    font-size: xx-large;
    text-align: center;
    padding: 10px 0px ;
}

.content-section-outer-div{
    width: 90%;
    margin: auto;
}

.content-section-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10PX;
padding: 15px 5px;}

.content-section-child1{
    padding: 20px;
    background-color: #0f1521;
    border: 1px solid #D4AF37;
    border-radius: 10px;
    width: 100%;
    height:auto;
}
.content-section-child1 img{
    width: 10rem;
    height: 10rem;
    margin: auto;
    align-content: center;
}
.content-section-child1 h3{
    color: #D4AF37;
}
.content-section-child1 p{
    color: #F4F4F4;
}

/* our content section ./ */

/* Featured videos and latest release section */
.featured-video-outer-div{
    width:180vh;
    margin: auto;
    
}
.featured-video-outer-div h2{
    font-size: xx-large;
    color: #D4AF37;
    padding :20px 0px 5px 0px ;
}
.featured-video-inner-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

.featured-child{
    
   padding: 10px;
}

/* featured videos/latest releases ./ */


/* history archive section */

.history-outer-div{
    border-bottom:2px solid #facc15;
}

.history-outer-div h2{
    text-align: center;
    color: #D4AF37;
    font-size: xx-large;
}

.history-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
}
.history-child1,.history-child2,.history-child3,.history-child4,.history-child5{
    padding: 10px 20px;
    border: 1px solid #facc15;

}

.history-child1,.history-child2,.history-child3,.history-child4,.history-child5 h3{
    font-size: larger;
    color: #D4AF37;
    padding: 110px 0px 0px 20px ;
    margin-bottom: 15px;
}


.card-history-archive{
    color: #F4F4F4;
    text-decoration: none;
    padding: 4px 16px;
    border: 1px solid #D4AF37;
    border-radius: 6px;
    
}
.history-child1{
    background-image: url(assets/char-sahib-jaade.png);
    width: 20%;
     background-size: cover;
    height: 25vh;
        background-repeat:no-repeat ;

} 

.history-child1 h3{
    margin-bottom: 15px;
}

.history-child1-img{
    width: fit-content;
}
.history-child2{
    background-image: url(assets/shaheedi-kahaniya.png);
    width: 20%;
     background-size: cover;
    height: 25vh;

    background-repeat:no-repeat ;

   
} 
.history-child2 h3{
    margin-bottom: 15px;
}
.history-child3{
    background-image: url(assets/punjbai-under-mughals.png);
    width: 20%;
     background-size: cover;
    height: 25vh;
    background-repeat:no-repeat ;

} 

.history-child3 h3{
    margin-bottom: 15px;
}

.history-child4{
    background-image: url(assets/ghadar.png);
     background-size: cover;
    width: 20%;
    height: 25vh;
        background-repeat:no-repeat ;

} 

.history-child4 h3{
    margin-bottom: 15px;
}

.history-child5{
    background-image: url(assets/historic-fort.png);
    background-size: cover;
    width: 20%;
    height: 25vh;
    background-repeat:no-repeat ;
} 

.history-child5 h3{
    margin-bottom: 15px;
}